@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

* {padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
body {
display: grid;
grid-template-areas: 
"header header header"
"top top top"
"main main main"
"footer footer footer";
height: 100vh;
font-size: 1rem;
padding-top: 6.5625rem;
background-color: #bbb;
}



/*NAV BAR*/
.header {
    background-color: #90B8F8;
    grid-area: header;
    width: 90%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    right: 50%;
    transform:translate(-50%, -50%) ;
    margin-top: 3.125rem;
    top: 0;
    opacity: 0.8;
}

.header__h2-container {display: flex;}

.header__logo {color: #26282B   ;
    padding:0.3125rem;
    margin: 0.3125rem 0.9375rem;
margin: 0 auto;
font-size: 2em;    
}

.header__nav {display: flex;
align-items: center;
justify-content: space-evenly;
justify-items: start;}

.header__nav-ul {display: flex;
justify-content: end;
}

.header__nav-li { list-style: none;
    margin: 0.625em;
    padding: 0.625em;
}

.header__nav-li:hover {background-color: #5F85DB;
cursor: pointer;
}

.nav__a {text-decoration: none;
color: #26282B;}


/*TOP-CONTAINER*/

.top-container {display: flex;
height: 18.75rem;
grid-area: top;
margin-top: 1.625rem;
background-image: url(../img/fondotop.jpg);
object-fit: cover;}

.top-container__h1 {margin: 0.3125rem auto;
    font-size: 1.8em;
    color: #fff;
    width: 300px;
    word-spacing: 3px;
    letter-spacing: 5px;
    text-align: center;
    }

/*MAIN*/


.main {display: flex;
flex-direction: column;
grid-area: main;
background-color: #bbb;
margin-top: 1.25rem;

}

.main__a {
height: 600px;
background-color: #ddd;
text-align: center;
margin: 1.25rem auto;
width: 50%;
box-shadow: 0 1px 10px rgba(0,0,0,0.2);
border-radius: 6px;
transition: all 400ms ease;
}


.main__a:hover {box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.main__img-container {width: 100%;
height: 70%;
}


.main__a a {text-decoration: none;
color: #000;}

.main__img {
    height: 100%;
    width: 100%;
}

.main__p {margin-top: 3.125rem;
font-size: 2.5rem;}


/*FOOTER*/
.footer {width: 100%;
background-color: #90B8F8;
color: #26282B;
text-align: center;
font-size: 1.8em;
font-family: 'Roboto', sans-serif;
grid-area: footer;
margin-top: 1.55rem;}

.footer__h2 {text-align: center;
font-size: 2em;}

/*SOBRE MI*/
.main-container {
   grid-area: top;
    background-color: #eee;
    margin: 1.55rem auto;
    height: 600px;
    width: 50%;
}

.main__h1 {text-align: center;
font-size: 2.8125rem;}

.main2__p {font-size: 20px;
padding: 20px;}

    
    
/*CONTACTO*/

.form {
    grid-area: main;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0,0,0/300%);
    background-color: #fff;
    text-align: center;
    margin: 0.625rem auto;}

.form__tittle {text-align: center;
margin: 0.5rem;
font-size: 2.1875rem;}

.form__p {text-align: center;
margin-top: 10px;}

.form__container {margin-top: 3em;
display: grid;
gap: 2.5rem;}

.form__groups {position: relative;}

.form__label {display: inline-block;
    position: absolute;
    top: 0;}
    

.form__input {width: 100%;
background: none;
color: #333;
font-size: 1rem;
padding: 0.6rem 0.3em;
border: none;
outline: none;
border-bottom: 1px solid #5F85DB;
margin-top: 10px;}

#textarea {width: 100%;
    background: none;
    color: #333;
    font-size: 1rem;
    padding: 0.6rem 0.3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #5F85DB;
    margin-top: 10px;
    border-radius: 10px;
    resize: none;
    }

.form__button {width: 90%;
padding: 10px;
background-color: #90B8F8;
color: #fff;
cursor: pointer;
border-radius: 25px;
}

.form__button:hover {background-color: #5F85DB;}


@media (max-width: 1200px){ 
    .main__a {width: 80%;}

    .main__img {width: 80%;}
    .main-container {width: 60%;}
}

@media (max-width: 950px) {
    .main2__p {font-size: 17px;}
}

@media (max-width: 720px){

body {font-size: 1rem;}

.header {width: 100%;}
    
.main__a {object-fit: contain;
width: 100%;}

.main__p {font-size: 2.25rem;}

.main-container {width: 90%;}
}


@media (max-width: 547px){

body {font-size: 12px;}

.header {margin-top: 39px;}

.main__img {width: 100%;}

.top-container {display: flex;
align-items: center;
justify-content: center;
font-size: 14px;}

}

@media (max-width: 409px) {
    .main__p {font-size: 30px;}
    .main-container {width: 100%;}
    .main2__p {font-size: 16px;}
}